<template>
    <div class="department-container">
        <div>
            <h1>Department</h1>
            <div>
                <v-btn v-for="dept in departments"
                       :key="dept.id"
                       class="mr-4"
                       v-on:click="changeDept(dept)">
                    {{dept.name}}
                </v-btn>
            </div>
        </div>
    </div>
</template>

<script>
    import {INIT_DEPARTMENT, GET_DEPARTMENTS} from "@/store/edt/action.type";
    import {URLS_NAME} from "@/router/urls.model";

    export default {
        name: "DepartmentChoice",
        methods: {
            changeDept(department) {
                this.$store.dispatch(INIT_DEPARTMENT, department.abbrev).then(value => {
                    this.$router.push({name: URLS_NAME.EDT_DEPARTMENT, params: {department: value}})
                })
            }
        },
        computed: {
            departments () {
                return this.$store.getters.getDepartments
            }
        },
        created() {
            this.$store.dispatch(GET_DEPARTMENTS)
        }
    }
</script>

<style scoped>
    .department-container {
        width: 40%;
        margin: 10px auto;
        text-align: center;
    }

</style>
