<template>
    <div class="choose-week-container">
        <v-slide-group v-model="weekIndex" class="weeks-container"
                       v-on:change="handleWeek"
                       center-active
                       mandatory
                       show-arrows>
            <v-slide-item
                    v-for="(week, index) in weeks"
                    :key="index"
                    :value="index"
                    v-slot:default="{ active, toggle }"
            >
                <v-btn class="btn"
                       :input-value="active"
                       active-class="purple white--text"
                       depressed
                       rounded
                       @click="toggle"
                >
                    {{ week.week }}
                </v-btn>
            </v-slide-item>
        </v-slide-group>
    </div>
</template>

<script>
    import {INIT_WEEK_SERVICE} from "@/store/edt/action.type";

    export default {
        name: "choose-week",
        data() {
            return {
                weekIndex: 0,
                message: ''
            }
        },
        props: {
            week: {week: Number, year: Number}
        },
        methods: {
            handleWeek() {
                const weekSelected = this.findWeekByIndex(this.weekIndex)
                this.$emit('week-change', weekSelected)
            },
            findWeekByIndex(index) {
                // if (index === -1) return undefined
                return this.weekNormalize(this.weeks[index])
            },
            findIndexByWeek(week) {
                return this.weeks.findIndex(value => value.week === week.week && value.year === week.year)
            },
            weekNormalize(weekObject) {
                return {week: weekObject.week, year: weekObject.year}
            },
            findFirstAfter(week) {
                return this.weeks.findIndex(value => value.year >= week.year && value.week >= week.week)
            }
        },
        computed: {
            weeks() {
                return this.$store.getters.getWeekYear.map(value => {
                    return {week: value.week, year: value.year}
                })
            },
            currentWeek() {
                return this.weekNormalize(this.$store.getters.getCurrentWeek)
            },
        },
        created() {
            // FETCHING

            this.$store.dispatch(INIT_WEEK_SERVICE).then(() => {
                // Handle query
                if (this.week.week !== null && this.week.year !== null) {
                    const index = this.findIndexByWeek({week: this.week.week, year: this.week.year})
                    if (index !== -1) {
                        this.weekIndex = index
                    } else {
                        this.weekIndex = this.findFirstAfter(this.currentWeek)
                    }
                } else {
                    this.weekIndex = this.findFirstAfter(this.currentWeek)
                }
                this.handleWeek()
            })
        }
    }

</script>

<style lang="scss" scoped>
    .choose-week-container {
        font-size: 0.5em;
        .btn {
            width: 20px;
            min-width: 35px;
            padding: 0 3px;
            height: 30px;
            margin: 0 2px;
        }
        .v-slide-group__next {
            min-width: 40px;

        }
    }
</style>
