<template>
    <div class="day-container">
        <div class="day-content">
            <template v-if="displayMode === 'NORMAL'">
                <div class="same-slot"
                     v-for="time in startTimes"
                     v-bind:key="time">
                    <event-component v-for="evt in filteredtEvts[time]"
                                     v-bind:key="evt.id"
                                     v-bind:event="evt" class="event"></event-component>
                </div>
            </template>
            <template v-else-if="displayMode === 'SLOT'"
                      v-for="time in startTimes">
                <group-slot-component class="day-group-slot"
                                      v-bind:key="time"
                                      v-bind:events="filteredtEvts[time]"></group-slot-component>
            </template>
        </div>
    </div>
</template>

<script>
    import EventComponent from "@/features/edt/components/EventComponent";
    import {lastChildren} from "@/commons/groups.service";
    import GroupSlotComponent from "@/features/edt/components/GroupSlotComponent";
    export default {
        name: "DayComponent",
        components: {GroupSlotComponent, EventComponent},
        props: {
            day: String,
            events: Array
        },
        data() {
            return {
                //
            }
        },
        computed: {
            displayMode() {
                return this.$store.getters.getDisplayMode
            },
            groupTree() {
                return this.$store.getters.getGroupTree
            },
            promos() {
                return this.groupTree.map(group => group.promo)
            },
            timeSetting() {
                return this.$store.getters.getTimeSetting(this.day)
            },
            startTimes() {
                const setStarts = new Set();
                this.events.forEach(value => {
                    setStarts.add(value.start_time)
                })
                return Array.from(setStarts).sort((a, b) => a > b)
            },
            filteredtEvts() {
                const evts = {}
                this.startTimes.forEach(value => {
                    evts[value] = this.events.filter(value1 => value1.start_time === value)
                })
                return evts
            },
            totalTime() {
                return this.timeSetting.day_finish_time -  this.timeSetting.day_start_time
            },
            durationHeight() {
                return this.timeSetting.default_preference_duration * 100 / this.totalTime
            }
        },
        methods: {
            getLastChildrenGroup(promotion) {
                return lastChildren(this.groupTree.find(group => group.promo === promotion))
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../commons/styles/variables';

    .day-container {
        height: 100%;
        min-height: 200px;
        .day-content {
            height: calc(100% - #{$planningHeaderTitleHeight});
            border-top: grey solid 1px;
            border-left: grey solid 1px;
            border-bottom: grey solid 1px;
            /*transform: translate(0);*/
            &:last-of-type {
                border-right: grey solid 1px;
            }
            .event-fixed {
                position: fixed;
                flex-grow: 1;
            }
            .same-slot {
                display: flex;
                height: 70px;
                flex-wrap: wrap;
                .event {
                    flex-grow: 1;
                }
            }
            .day-group-slot {
                border-bottom: $borderSlotColor solid 1px;
                &:last-of-type {
                    border-bottom: none;
                }
            }
        }

    }
</style>
