<template>
    <div v-bind:style="{
        color: event.course.module.display.color_txt,
        backgroundColor: event.course.module.display.color_bg,
        opacity: opacity
    }"
         class="event-container">
        <span>{{event.course.module.abbrev}}</span>
        <span class="little">{{event.course.tutor}}</span>
        <span class="little">{{event.room}}</span>

    </div>
</template>

<script>
    export default {
        name: "EventComponent",
        props: {
            event: {
                id: Number,
                room: String,
                start_time: Number,
                day: String,
                course: {
                    id: Number,
                    type: String,
                    tutor: String,
                    room_type: String,
                    week: Number,
                    year: Number,
                    group: {
                        train_prog: String,
                        name: String
                    },
                    module: {
                        name: String,
                        abbrev: String,
                        display: {
                            color_bg: String,
                            color_txt: String
                        }
                    }
                }
            }
        },
        computed: {
            opacity() {
                return this.$store.getters.getRoomIsSelected(this.event.room) ? '1': '0.5'
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../commons/styles/variables';
    .event-container {
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
        text-align: center;
        border: rgba(73, 69, 69, 0.3) solid 1px;
        min-width: $eventMinWidth;

        &:hover {
            box-shadow: -1px -1px 5px 0px rgba(75, 73, 73, 0.75);
        }

        .little {
            font-size: 0.7em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

</style>
