<template>
    <v-toolbar dense elevation="0" flat
               class="filter-bar-container">
        <!--https://vuetifyjs.com/fr-FR/components/toolbars/-->
        <choose-week class="choose-week"
                     v-bind:week="week"
                     v-on:week-change="$emit('week-change', $event)">
        </choose-week>
        <slot name="spinner"></slot>
        <v-spacer></v-spacer>
        <v-menu :close-on-content-click="false"
                :nudge-width="200"
                bottom offset-y nudge-bottom="2">
            <template v-slot:activator="{ on: menu }">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on: tooltip }">
                        <v-btn icon v-on="{ ...tooltip, ...menu }">
                            <v-icon>mdi-cog</v-icon>
                        </v-btn>
                    </template>
                    <span>Settings</span>
                </v-tooltip>
            </template>
            <v-list>
                <v-list-item
                        v-for="(display, index) in displays"
                        :key="index"
                        @click="$emit('display-change', display)"
                >
                    <v-list-item-title>{{ display }}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>

        <v-divider vertical inset></v-divider>
        <v-menu :close-on-content-click="false"
                :nudge-width="200"
                bottom offset-y nudge-bottom="2">
            <template v-slot:activator="{ on: menu }">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on: tooltip }">
                        <v-btn icon v-on="{ ...tooltip, ...menu }">
                            <v-icon>mdi-account-multiple</v-icon>
                        </v-btn>
                    </template>
                    <span>Groups</span>
                </v-tooltip>
            </template>
            <v-card >
                <div class="filter-bar-card-content">
                    <span>Groups :</span>
                    <groups-filter-component class="filter-bar-menu-item-content"></groups-filter-component>
                </div>
            </v-card>
        </v-menu>
        <v-menu :close-on-content-click="false"
                :nudge-width="200"
                offset-x offset-y z-index="1">
            <template v-slot:activator="{ on: menu }">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on: tooltip }">
                        <v-btn icon v-on="{ ...tooltip, ...menu }">
                            <v-icon>mdi-door</v-icon>
                        </v-btn>
                    </template>
                    <span>Rooms</span>
                </v-tooltip>
            </template>
            <v-card>
                <div class="filter-bar-card-content">
                    <span>Rooms :</span>
                    <room-filter-component class="filter-bar-menu-item-content"></room-filter-component>
                </div>
            </v-card>
        </v-menu>
    </v-toolbar>
</template>

<script>
    import {DISPLAY_MODE} from "@/commons/display.model";
    import ChooseWeek from "@/features/edt/components/ChooseWeek";
    import GroupsFilterComponent from "@/features/edt/components/GroupsFilterComponent";
    import RoomFilterComponent from "@/features/edt/components/RoomFilterComponent";

    export default {
        name: "FilterBarComponent",
        components: {RoomFilterComponent, GroupsFilterComponent, ChooseWeek},
        data() {
            return {
                displays: DISPLAY_MODE.DISPLAY_MODES,
                displayMode: DISPLAY_MODE.indexOf(this.$store.getters.getDisplayMode),
                transition: 'slide-y-reverse-transition',
            }
        },
        props: {
            week: {week: Number, year: Number}
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../commons/styles/variables';

    .filter-bar-container {
        width: 100%;
        border-bottom: $borderColor solid 1px;
        background-color: $filterColor;
        .choose-week {
            width: 30%;
        }
        .display-mode {
        }


    }
    .filter-bar-card-content {
        padding: 5px;
        .filter-bar-menu-item-content {
            max-height: 400px;
            overflow-y: auto;
        }
    }
</style>