<template>
    <div class="group-filter-container">
        <span class="group-title"
              v-on:click="handleClick()"
              v-bind:class="{enabled: group.enabled, disabled: !group.enabled}">{{group.name}}</span>
        <div v-if="group.children !== undefined && group.children.length > 0"
             class="sub-groups-container">
            <group-filter-component class="sub-group"
                                    v-for="(gp, index) in group.children"
                                    v-on:change-group="handleSubChange(index, $event)"
                                    v-bind:group="gp"
                                    v-bind:style="{width: (100 / group.children.length)+'%'}"
                                    v-bind:key="index"></group-filter-component>
        </div>
    </div>
</template>

<script>
    import {buildStateTree, setStateTree} from "@/commons/groups.service";
    export default {
        name: "GroupFilterComponent",
        props: {
            group: {
                name: String,
                enabled: Boolean,
                children: Array | undefined
            },
        },
        methods: {
            handleClick() {
                this.$emit('change-group', setStateTree(this.group, !this.group.enabled))
            },
            handleSubChange(index, group) {
                const newGroup = buildStateTree(this.group)
                newGroup.children[index] = group
                if (newGroup.children.every(subGroup => !subGroup.enabled)) {
                    newGroup.enabled = false
                } else {
                    newGroup.enabled = true
                }
                this.$emit('change-group', newGroup)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .group-filter-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        .group-title {
            text-align: center;
            width: 100%;
            border: black solid 1px;
            cursor: pointer;
        }
        .enabled {
            background-color: green;
        }
        .disabled {
            background-color: red;

        }
        .sub-groups-container {
            width: 100%;
            display: flex;
            .sub-group {

            }
        }
    }
</style>