<template>
    <div class="group-slot-container">
        <template v-for="promo in promos" >
            <div class="promo-slot"
                 v-bind:key="promo"
                 v-if="groups[promo].enabled">
                <div class="promo-name" ><span>{{promo}}</span></div>
                <slot-component class="slot-content" v-bind:tree="groups[promo]"></slot-component>
            </div>
        </template>
    </div>
</template>

<script>
    import {buildTree} from "@/commons/groups.service";
    import SlotComponent from "@/features/edt/components/SlotComponent";

    export default {
        name: "GroupSlotComponent",
        components: {SlotComponent},
        props:  {
            events: Array
        },
        computed: {
            promos() {
                return this.$store.getters.getPromo
            },
            groupTreeSelected() {
                return this.$store.getters.getGroupTreeSelected
            },
            groups() {
                const groups = {}
                this.promos.forEach(promo => {
                    groups[promo] = buildTree(this.groupTreeSelected[promo],
                        this.events.filter(value => value.course.group.train_prog === promo))
                })
                return groups
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '../../../commons/styles/variables';
    .group-slot-container {
        width: 100%;

        .promo-slot {
            transform: translate(0);
            display: flex;
            border-bottom: $borderSlotPromoColor solid 1px;
            background-color: #f6f6f6;
            .slot-content {
                z-index: 1;
            }
            .promo-name {
                position: fixed;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 0;

                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                font-size: 0.7em;
                color: #a0a0a0;
            }
            &:last-of-type {
                border-bottom: none;
            }
        }
    }
</style>
