<template>
    <div class="groups-filter-container">
<!--        <span>Groups :</span>-->
        <div class="groups">
            <div v-for="(promo, index) in promos" class="group-content"
                 v-bind:key="index">
                <span class="group-name">{{promo}}</span>
                <group-filter-component v-bind:group="groups[promo]" class="group-filter-component-group"
                                        v-on:change-group="handleChangeGroup(promo, $event)"></group-filter-component>
            </div>
        </div>
    </div>
</template>

<script>
    import GroupFilterComponent from "@/features/edt/components/GroupFilterComponent";
    import {UPDATE_GROUP_TREE_SELECTED} from "@/store/edt/action.type";
    export default {
        name: "GroupsFilterComponent",
        components: {GroupFilterComponent},
        computed: {
            groups() {
                return this.$store.getters.getGroupTreeSelected
            },
            promos() {
                return this.$store.getters.getPromo
            }
        },
        methods: {
            handleChangeGroup(promo, group) {
                this.$store.dispatch(UPDATE_GROUP_TREE_SELECTED, {promo: promo, group: group}).then(() => {
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .groups-filter-container {
        .groups {
            font-size: 0.9em;
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-grow: 1;
            /*flex-wrap: wrap;*/
            .group-content {
                display: flex;
                flex-direction: column;
                margin: 2px;
                flex-grow: 1;
                .group-name {
                    text-align: center;
                }
                .group-filter-component-group {
                }
            }

        }
    }
</style>