<template>
    <div class="planning-container">
        <time-setting-component></time-setting-component>
        <div class="days">
            <template v-for="day in days">
                <div class="day"
                     v-bind:key="day"
                     v-bind:style="{width: width+'%'}"
                     v-if="showDay(day)">
                    <div class="day-title" v-on:click="handleDaySelection(day)">
                        <span>
                            {{(findDay(day) === undefined) ? day:
                                findDay(day).name + ' ' + findDay(day).date}}
                        </span>
                    </div>
                    <day-component v-bind:events="filteredEvents[day]"
                                   v-bind:day="day"></day-component>
                </div>
            </template>

        </div>

    </div>
</template>

<script>
    import DayComponent from "@/features/edt/components/DayComponent";
    import TimeSettingComponent from "@/features/edt/components/TimeSettingComponent";
    import EdtService from "@/services/edt.service";
    export default {
        name: "PlanningDisplay",
        components: {TimeSettingComponent, DayComponent},
        props: {
            department: String,
            week: {week: Number, year: Number},
            events: Array
        },
        data() {
            return {
                weekDays: [],
                selectedDay: null
            }
        },
        computed: {
            /**
             * @returns [{String}]
             */
            days() {
                const setDay = new Set();
                this.$store.getters.getTimeSettings.forEach(value => {
                    value.days.forEach(day => {
                        setDay.add(day)
                    })
                })
                return Array.from(setDay)
            },
            filteredEvents() {
                const days = {}
                this.days.forEach(day => {
                    days[day] = []
                    this.events.filter(event => {
                        if (event.day === day) {
                            days[day].push(event)
                        }
                    })
                })
                return days
            },
            width() {
                return 100/ this.days.length
            }
        },
        methods: {
            handleDaySelection(day) {
                if (this.selectedDay === day) {
                    this.selectedDay = null
                } else {
                    this.selectedDay = day
                }
            },
            showDay(day) {
                return this.selectedDay === null || this.selectedDay === day
            },
            findDay(day) {
                return this.weekDays.find(value => value.ref === day)
            }
        },
        watch: {
            week: {
                handler: function(val) {
                    EdtService.getWeekDays(this.department, val.week, val.year).then((value) => {
                        this.weekDays = value;
                        console.log(value)
                    }).catch(reason => {
                        console.log(reason)
                    })
                },
                deep: true,
                immediate: true
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../commons/styles/variables';
    .planning-container {
        width: 95%;
        display: flex;
        margin: 0 auto;
        padding: 5px 0;
        .days {
            display: flex;
            flex-grow: 1;
            .day {
                .day-title {
                    font-size: 0.8em;
                    text-align: center;
                    height: $planningHeaderTitleHeight;

                    display: flex;
                    > span {
                        margin: auto;
                    }
                }

            }
        }
    }
</style>
