<template>
    <div class="grid">
<!--        <v-radio-group v-model="selected" multiple :mandatory="false">-->
<!--            <v-radio v-for="room in selectedRooms"-->
<!--                     :key="room.name"-->
<!--                     :label="room.name"-->
<!--                     :name="room.name"-->
<!--                     :value="room.name"></v-radio>-->
<!--        </v-radio-group>-->
        <v-checkbox v-for="room in selectedRooms"
                    :key="room.name"
                    v-model="selected"
                    :label="room.name"
                    multiple onchange=""
                    :value="room.name" height="0"></v-checkbox>
    </div>
</template>

<script>
    import {SET_ROOMS_FILTER} from "@/store/edt/mutation.type";

    export default {
        name: "RoomFilterComponent",
        data() {
            return {
                // selected: []
            }
        },
        computed: {
            selectedRooms() {
                return this.$store.getters.getRoomsFilter
            },
            selected: {
                get() {
                    return this.$store.getters.getRoomsFilter.filter(room => room.selected).map(room => room.name)
                },
                set(val) {
                    const newSelectedRoom = []
                    this.selectedRooms.forEach(room => {
                        newSelectedRoom.push({
                            name: room.name,
                            selected: val.includes(room.name)
                        })
                    })
                    this.$store.commit(SET_ROOMS_FILTER, newSelectedRoom)
                }
            }
        },
    }
</script>

<style scoped>

</style>