<template>
    <div class="slots-container">
        <event-component v-if="tree.events.length !== 0" v-bind:event="tree.events[0]" class="slot-event"></event-component>
        <div v-else-if="tree.children !== undefined" class="slots-container">
            <div v-for="child in tree.children"
                 v-bind:key="child.name"
                 v-bind:style="{width: (child.enabled) ? '100%': '0%'}">
                <slot-component v-if="child.enabled"
                                class="slot-event"
                                v-bind:tree="child"></slot-component>
            </div>
        </div>
        <div v-else class="slot-empty"></div>
    </div>
</template>

<script>
    import EventComponent from "@/features/edt/components/EventComponent";
    export default {
        name: "SlotComponent",
        components: {EventComponent},
        props: {
            tree: {
                name: String,
                enabled: Boolean,
                events: Array,
                children: Array | undefined
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../commons/styles/variables';
    .slots-container {
        width: 100%;
        display: flex;
        .slot-event {
            max-height: $eventMaxHeight;
            /*width: 100%;*/
            flex-grow: 1;
        }
        .slot-empty {
            min-height: $eventMaxHeight;
            min-width: $eventMinWidth;
            width: 100%;
            opacity: 50%;
            background: repeating-linear-gradient(135deg, #e8e8e8, #e8e8e8 3px, #f5f5ff 3px, #ededfa 5px);
            // Align row
            /*padding: 1px 0;*/
        }
    }
</style>
