<template>
    <div class="time-setting-container">
        <div class="time-line">
            <span>{{this.timeDayStart.day_start_time | time}}</span>
            <span>{{this.timeDayEnd.day_finish_time | time}}</span>
        </div>
    </div>
    
</template>

<script>
    export default {
        name: "TimeSettingComponent",
        data() {
            return {
                timeS: [
                    {
                        day_start_time: 480,
                        day_finish_time: 1110,
                        lunch_break_start_time: 750,
                        lunch_break_finish_time: 855,
                        days: ["m", "tu", "w", "th", "f"],
                        default_preference_duration: 90,
                    },
                    {
                        day_start_time: 510,
                        day_finish_time: 1125,
                        lunch_break_start_time: 750,
                        lunch_break_finish_time: 855,
                        days: ["m", "tu", "w", "th", "f"],
                        default_preference_duration: 90,
                    }
                ]
            }
        },
        computed: {
            timeSettings() {
                return this.$store.getters.getTimeSettings
            },
            /**
             * Returns the first days start
             * @returns {*}
             */
            timeDayStart() {
                return this.timeS
                    .reduce((acc, current) => acc.day_start_time <= current.day_start_time ? acc : current)
            },
            /**
             * Returns the last day finish
             * @returns {*}
             */
            timeDayEnd() {
                return this.timeS
                    .reduce((acc, current) => acc.day_finish_time >= current.day_finish_time ? acc : current)
            }
        },
        created() {

        }
    }
</script>

<style lang="scss" scoped>
    .time-setting-container {
        margin-top: 30px;
        font-size: 0.7em;
        display: flex;
        flex-direction: column;
        .time-line {
            flex-grow: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
</style>
