// Topbar
$topbarHeight: 40px;
$topbarColor: #eeeeee;
$topbarHoverColor: #c7c7c7;

// Container as sidebar or filterbar
$borderColor: #a0a0a0;

// Sidebar
$sidebarWidth: 40px;
$sidebarHeight: 40px;
$sidebarColor: #f5f5f5;

// FilterBar
$filterColor: #f5f5f5;

// Planning
$planningHeaderTitleHeight: 32px;
$borderSlotPromoColor: #d7d7d7;
$borderSlotColor: #bfbfbf;
$eventMinWidth: 28px;
$eventMaxHeight: 46px;