<template>
    <div class="login-container">
        <h1>Login</h1>
        <v-form class="form" v-model="valid">
            <v-text-field class="field"
                          v-model="username"
                          label="Username"
                          :rules="nameRules"
                          required>
            </v-text-field>
            <v-text-field class="field"
                          type="password"
                          v-model="password"
                          label="Password"
                          :rules="passwordRules"
                          required>
            </v-text-field>
            <v-btn
                    :disabled="!valid"
                    class="mr-4"
                    @click="submit"
            >
                Validate
            </v-btn>
        </v-form>
    </div>
</template>

<script>

    import {LOGIN} from '@/store/actions.type';
    import {URLS_NAME} from "@/router/urls.model";

    export default {
        name: "Login",
        data() {
            return {
                valid: false,
                username: '',
                password: '',
                nameRules: [
                    v => !!v || 'Username is required',
                ],
                passwordRules: [
                    v => !!v || 'Username is required',
                ]
            }
        },
        methods: {
            submit() {
                if (this.valid) {
                    this.$store.dispatch(LOGIN, {username: this.username, password: this.password}).then((status) => {
                        if (status) {
                            const dept = this.$store.getters.getDepartment
                            if (dept === '') {
                                this.$router.push({name: URLS_NAME.EDT})
                            } else {
                                this.$router.push({name: URLS_NAME.EDT_DEPARTMENT, params: {department: dept}})
                            }
                        } else {
                            this.password = '';
                            console.log('Try again')
                        }
                    }).catch();
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .login-container {
        text-align: center;
        width: 50%;
        margin: 10px auto;
        .form {
            width: 50%;
            margin: auto;
            text-align: center;
        }
    }
</style>
