<template>
    <div class="sidebar-container">
        <div class="sidebar-header"
             v-bind:style="{justifyContent: open ? 'left': '', flexDirection: !open ? 'column': ''}">
            <v-btn v-if="open" icon
                   class="open-btn"
                   @click="$emit('open', !open)">
                <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
            <div class="sidebar-header-content" v-bind:style="{flexDirection: !open ? 'column': ''}">
                <v-btn v-for="item in items"
                       v-bind:input-value="item.name === itemSelected.name"
                       v-bind:class="{
                           'sidebar-header-content-btn-collapse': !open,
                           'sidebar-header-content-btn': open
                       }"
                       v-bind:key="item.name"
                       @click="handleItem(item)"
                       icon>
                    <v-icon >{{item.icon}}</v-icon>
                </v-btn>
            </div>
        </div>
        <div class="sidebar-content" v-if="open">
            <transition name="fade">
                <template v-for="item in items">
                    <slot v-if="item.name === itemSelected.name" :name="item.name"></slot>
                </template>
            </transition>
        </div>
    </div>
</template>

<script>
    const ITEM_NULL = {name: null, icon: null}

    export default {
        name: "SideBarComponent",
        components: {},
        data() {
            return {
                itemSelected: ITEM_NULL,
            }
        },
        props: {
            items: {name: String, icon: String},
            open: Boolean,
        },
        methods: {
            handleItem(item) {
                this.itemSelected = item
                if (!this.open) this.$emit('open', !this.open)
            }
        },
        watch: {
            open(val) {
                if (!val) this.itemSelected = ITEM_NULL
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../styles/variables';
    .sidebar-container {
        border-left: $borderColor solid 1px;
        display: flex;
        flex-direction: column;
        background-color: $sidebarColor;
        .sidebar-header {
            /*position: sticky;*/
            display: flex;
            justify-content: center;
            .open-btn {
                margin: auto 0 auto 5px;
            }
            .sidebar-header-content {
                flex-grow: 1;
                display: flex;
                justify-content: space-around;
                .sidebar-header-content-btn-collapse {
                    margin: 15px auto;
                    &:first-of-type {
                        margin-top: 40px;
                    }
                }
                .sidebar-header-content-btn {
                    margin: 10px 0;
                }
            }
        }
        .sidebar-content {
            overflow: auto;
        }
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .1s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
</style>