<template>
    <div class="department-view-container">
        <div class="edt-content">
            <filter-bar-component class="edt-filter-bar" v-on:week-change="handleWeekChange($event)"
                                  v-on:display-change="handleDisplayChange($event)"
                                  v-bind:week="week">
                <template v-slot:spinner>
                    <v-progress-circular v-if="!eventsStatus"
                            indeterminate
                            color="primary"
                    ></v-progress-circular>
                </template>
            </filter-bar-component>
            <div class="planning-display" v-if="week.week !== null">
                <planning-display v-bind:department="department"
                                  v-bind:week="week"
                                  v-bind:events="events"></planning-display>
            </div>
        </div>
        <side-bar-component
                v-bind:open="sidebar"
                v-on:open="sidebar = $event"
                v-bind:style="{width: sidebar ? '20%': ''}"
                :items="items"
                class="sidebar-content">
            <template v-slot:[items.FILTERS.name]>
                    <div class="sidebar-content-plug">
                        <v-expansion-panels class="sidebar-expansion-panels"
                                            v-model="panel"
                                            multiple tile accordion hover>
                            <v-expansion-panel class="sidebar-expansion-panel">
                                <v-expansion-panel-header class="sidebar-expansion-panel-header">Groups</v-expansion-panel-header>
                                <v-expansion-panel-content class="sidebar-expansion-panel-content">
                                    <groups-filter-component class="sidebar-groups"></groups-filter-component>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel class="sidebar-expansion-panel">
                                <v-expansion-panel-header class="sidebar-expansion-panel-header">Rooms</v-expansion-panel-header>
                                <v-expansion-panel-content class="sidebar-expansion-panel-content">
                                    <room-filter-component class="sidebar-groups"></room-filter-component>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </div>
            </template>
            <template v-slot:[items.COURSES.name]>
                <span>Course</span>
            </template>
        </side-bar-component>
    </div>
</template>

<script>
    import {URLS_NAME} from "@/router/urls.model";
    import {INIT_DEPARTMENT} from "@/store/edt/action.type";
    import PlanningDisplay from "@/features/edt/components/PlanningDisplay";
    import EdtService from "@/services/edt.service";
    import {DISPLAY_MODE} from "@/commons/display.model";
    import {SET_DISPLAY_MODE} from "@/store/edt/mutation.type";
    import FilterBarComponent from "@/features/edt/components/FilterBarComponent";
    import SideBarComponent from "@/commons/components/SideBarComponent";
    import RoomFilterComponent from "@/features/edt/components/RoomFilterComponent";
    import GroupsFilterComponent from "@/features/edt/components/GroupsFilterComponent";

    const ITEMS = {
        FILTERS: {name: 'FILTERS', icon: 'mdi-filter'},
        COURSES: {name: 'COURSES', icon: 'mdi-calendar-multiple-check'}
    }

    export default {
        name: "DepartmentView",
        components: {SideBarComponent, FilterBarComponent, PlanningDisplay, GroupsFilterComponent, RoomFilterComponent},
        data() {
            return {
                department: '',
                week: {week: null, year: null},
                eventsStatus: false,
                events: [],
                displays: DISPLAY_MODE.DISPLAY_MODES,
                displayMode: DISPLAY_MODE.indexOf(this.$store.getters.getDisplayMode),
                sidebar: false,
                items: ITEMS,
                panel: []
            }
        },
        methods: {
            handleWeekChange(week) {
                if (this.week.week !== week.week || this.week.year !== week.year) {
                    this.week.week = week.week
                    this.week.year = week.year
                    this.$router.push({name: URLS_NAME.EDT_DEPARTMENT,
                        params:  {department: this.department},
                        query: {week: this.week.week, year: this.week.year}})
                    this.eventsStatus = false
                }
                if (!this.eventsStatus) {
                    console.log('download')
                    EdtService.getScheduledCourse(this.department, this.week.week, this.week.year).then((value) => {
                        console.log(value)
                        this.events = value;
                        this.eventsStatus = true
                    }).catch(reason => {
                        console.log(reason)
                    })
                }
            },
            handleDisplayChange(display) {
                this.$store.commit(SET_DISPLAY_MODE, display)
            }
        },
        created() {
            this.department = this.$route.params.department

            this.$store.dispatch(INIT_DEPARTMENT, this.department)

            // Handle query
            if (this.$route.query.week !== undefined) {
                this.week.week = Number(this.$route.query.week)
            }
            if (this.$route.query.year !== undefined) {
                this.week.year = Number(this.$route.query.year)
            }
        }
    }

</script>

<style lang="scss" scoped>
    @import '../../../commons/styles/variables';
    .department-view-container {
        height: 100%;
        display: flex;
        width: 100%;
        .edt-content {
            /*overflow: hidden;*/
            margin: 0 auto;
            flex-grow: 1;
            flex-shrink: 1;
            min-width: 0;
            //max-width: calc(100% - #{$sidebarWidth});
            display: flex;
            flex-direction: column;
            .edt-filter-bar {
                flex-grow: 0;
            }
            .planning-display {
                flex-shrink: 1;
                flex-grow: 1;
                min-height: 0;
                overflow: auto;
            }
        }
        .sidebar-content {
            flex-shrink: 0;
            width: $sidebarWidth;
            .sidebar-content-plug {
                width: 100%;
                .sidebar-expansion-panels {
                    /*margin: 15px 0;*/
                    .sidebar-expansion-panel {
                        background-color: inherit;
                        .sidebar-expansion-panel-header {
                            min-height: 20px;
                            padding: 10px 24px;
                        }
                    }
                }
            }
        }
    }
</style>
