<template>
  <v-app>
    <Core></Core>
  </v-app>
</template>

<script>
import Core from "./core/components/Core";
import {INIT_EDT} from "@/store/edt/action.type";

export default {
  name: 'App',

  components: {
    Core,
  },

  data: () => ({
    //
  }),
  created() {
    this.$store.dispatch(INIT_EDT)
  }
};
</script>
<style>
  html {
    overflow-y: hidden !important;
  }
  * {
    padding: 0;
    margin: 0;
  }
</style>
