<template>
    <div class="core-container">
        <TopBar class="top-bar"></TopBar>
        <div class="content">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import TopBar from "./TopBar";
    export default {
        name: "Core",
        components: {TopBar}
    }
</script>

<style lang="scss" scoped>
    @import '../../commons/styles/variables';
    .core-container {
        .top-bar {
            position: fixed;
            top: 0;
            height: $topbarHeight;
            z-index: 1;
            box-shadow: 0 1px 3px #bdbdbd;
        }
        .content {
            position: fixed;
            top: $topbarHeight;
            width: 100%;
            height: calc(100% - #{$topbarHeight});
        }
    }
</style>
