<template>
    <div class="top-bar-container">
        <div class="tab-items-left">
            <div class="logo-item"></div>
            <div v-for="item in tabsDisplayed"
                 :key="item.name"
                 v-on:click="redirect(item)"
                 class="item"
                 v-bind:class="{'clickable-item': item.name !== selectedTab}">
                <span>{{item.displayName}}</span>
            </div>
        </div>
        <div class="tab-items-right">
            <div class="item clickable-item"
                 v-if="$store.getters.getConnectionStatus"
                 v-on:click="logout">
                <span>Logout</span>
            </div>
            <div class="item"
                 v-else v-on:click="log"
                 v-bind:class="{'clickable-item': loginTabName !== selectedTab}">
                <span>Login</span>
            </div>
        </div>
    </div>
</template>

<script>

    import {TABS} from "@/core/nav.model";
    import {LOGOUT} from "@/store/actions.type";
    import {URLS_NAME} from "@/router/urls.model";

    export default {
        name: "TopBar",
        data() {
            return {
                name: '',
                tabs: TABS,
                tabsDisplayed: [],
                selectedTab: '',
                loginTabName: URLS_NAME.LOGIN
            }
        },
        methods: {
            redirect(item) {
                if (this.selectedTab !== item.name) {
                    this.$router.push({name: item.name})
                }
            },
            log() {
                if (this.selectedTab !== URLS_NAME.LOGIN) {
                    this.$router.push({name: URLS_NAME.LOGIN})
                }
            },
            logout() {
                this.$store.dispatch(LOGOUT).then(() => {
                    this.$router.push({name: URLS_NAME.EDT})
                }).catch(reason => {
                    console.error(reason);
                })
            }
        },
        created() {
            this.tabsDisplayed = this.tabs.filter(value => this.$store.getters.getAuthorizationAccess(value.authAccess));
            this.name = this.$store.getters.getUsername;
            this.selectedTab = this.$route.name;
            this.$store.watch((state, getters) => getters.selectedTab, (() => {
                this.selectedTab = this.$route.name;
                // console.log(this.$route.)
            }))
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../commons/styles/variables';
    .top-bar-container {
        width: 100%;
        display: flex;
        background-color: $topbarColor;
        justify-content: space-between;

        .tab-items-left {
            display: flex;
            flex-wrap: wrap;
        }

        .tab-items-right {
            display: flex;
        }

        .item {
            display: flex;
            justify-content: center;
            height: 100%;
            padding: 0 15px;
            /*line-height: 100%;*/
            /*text-align: center;*/
            > span {
                margin: auto;
            }
        }

        .clickable-item:hover {
            cursor: pointer;
            background-color: $topbarHoverColor;
        }
    }
</style>
